<div class="container">
  
  <div class="row">
    <div class="col-6" *ngFor="let item of items; let i = index;">
      <a [routerLink]="['/items', item.itemId]">
        <app-item-tile [index]="i" [item]="item">
        </app-item-tile>
      </a>

      <div *ngIf="item.isInView === true" class="d-flex justify-content-start item-save-holder">
        <div class="flex-grow-1">
            <p class="item-tile-rating">rating: {{item.rating}}</p>
        </div>
        <div class="flex-grow-1">
          <p class="item-numsaved">{{item.numSaved}} saves</p>
        </div>
        <div>
          <div *ngIf="item.isSaved === false" (click)="saveItem(item)"><i class="fas fa-tshirt"></i></div>
          <div *ngIf="item.isSaved === true" (click)="unsaveItem(item)"><i class="fas fa-tshirt saved-item"></i></div>
        </div>
      </div>

    </div>

  </div>

</div>