.saved-item{
    color: aquamarine;
}

.item-numsaved{
    font-size: small;
    color: black;
    margin-right: 4%;
    float: right;

}



.item-tile-rating{
    font-size: small;
    color: black;
    font-weight: 500;
}