.image-cropper-holder{
    width: 90%;
    align-content: center;
}

.cropped{
    width: 50%;
}

.form-label{
    font-size: x-small;
    color: darkgray;
    margin: 2%;
}

.link{
    font-size: small;
    color: darkgray;
    margin: 2%;
}