<div class="row">

  <form>
    <input [(ngModel)]="post.postInfo" name="postInfo" type=text placeholder="Enter post caption" /><br>

   




    <input type="file" (change)="fileChangeEvent($event)" />

    <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="1 / 1"
      [resizeToWidth]="500" format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
      (loadImageFailed)="loadImageFailed()"></image-cropper>

    <img [src]="croppedImage" />

    <button *ngIf="theFile!=null && post.postInfo!=null" (click)="submit()">Submit</button>
  </form>

  <div *ngIf="resp!=null">
    <a [routerLink]="['/vestimonial/add', returnedPost.postId]">Add new vestimonial</a>
    <a [routerLink]="['/vestimonial/link', returnedPost.postId]">Link an existing vestimonial</a>
  </div>
</div>