.profile-image{
    width: 100%;
    margin-bottom: 10%;
}

.username{
    color: black;
    font-weight: bold;
    margin-bottom: 2%;
}
.size{
    font-size: small;
    color: black;
    margin-left: 3%;

}

.height{
    font-size: small;
    color: black;
    margin-left: 3%;

}

.bio{
    font-size: .8em;
}

.numPosts, .numFollowers{
    font-size: small;
    color: darkgray;
    margin-left: 3%;

}
.numFollowers{
   margin-bottom: 0%;
}

.stats-header{
    font-size: .8em;
    font-weight: bold;
    margin-bottom: 2%;
}
stat-container{
    border: solid black 1px;
}

.image-cropper-holder{
    width: 90%;
    align-content: center;
}

.cropped{
    width: 50%;
}

.editLinkText{
    font-size: x-small;
    color: darkgray;
    margin: 2%;
    text-align: center;
}

.editLinkHolder{
    margin-top: 10%;
}