.item-image{
    margin: 5%;
    width: 70%; 
    border: solid lightgray 1px;
}
.item-name{
    color: black;
    margin-bottom: 4%;
    font-size: .75rem;
    margin-left: 5%;
}

.item-brand{
    color: black;
    font-weight: bold;
    margin-bottom: 2%;
    margin-left: 5%;
}
.item-price{
    font-size: .75em;
    font-weight: bold;
    margin-bottom: 2%;
    padding-top: 2%;
    margin-left: 5%;
}
.saved-item{
    color: aquamarine

}

.vest-info{
    font-size: .8em;
    margin-left: 3%;
}
.vest-header{
    margin-top: 4%;
}
.vest-button{
    margin: 30%;
}


