.page-holder{
    width: 100%;
}
.logo{
    width: 100%;
}

.logo-holder{
    width:15%;
    align-content: center;
    margin-right: 2%;
    min-width: 40px;
    margin: 5px;
    flex: 0 0 auto;
}

.holder{
    //min-width: 100%;
   // min-height: 40px;
    flex-wrap: nowrap;
  overflow-x: auto;
  border-top: solid lightgray 1px;
 // border-bottom: solid lightgray 1px;
  &::-webkit-scrollbar {
    display: none;
  }
}

  .form-label{
    font-size: small;
    color: darkgray;
    margin: 2%;
    margin-bottom: 0%;
}

.list-info{
    text-align: center;
    font-weight: bold;
    margin-top: 5%;
}

.sort{
    margin: 3%;
    width: 25%;
}
.result-button{
    margin-bottom:5%;
    background-color: #ffb3b3;
    border: solid lightgray 1px;
    color: white;
}
