//styles for filter options
.logo{
    width: 100%;
}

.logo-holder{
    width:15%;
    align-content: center;
    margin-right: 4%;
    min-width: 40px;
    margin: 5px;
    flex: 0 0 auto;
}

.holder{
    flex-wrap: nowrap;
    overflow-x: auto;
    border-top: solid lightgray 1px;
    &::-webkit-scrollbar {
       display: none;
    }
}

//displays what user is looking at

.list-info{
    text-align: center;
    font-weight: bold;
    margin-top: 5%;
}

.sort{
    margin: 3%;
    width: 25%;
}
