<i (click)="backClicked()" class="fas fa-arrow-left"></i>

<div class="row item-display-holder">
  <div class="col-6 item-image-holder">
    <img class="item-image" src="{{imageUrl}}" />
  </div>
  <div class="col-6">
    <div class="d-flex justify-content-start item-save-holder">
      <p class="item-brand flex-grow-1">{{item.brand}}</p>
      <p class="item-price">€{{item.price}}</p>
    </div>
    <p class="item-name">{{item.name}}</p>

    <div class="d-flex justify-content-start ">
      <i class="far fa-star fa-1.5x"></i>

      <p class="item-rating">{{item.rating!=0 ? (item.rating | number:'1.0-1') +" Stars" : "no rating"}}</p>
    </div>


    <!--link buttons-->
    <div class="d-flex justify-content-start">
      <i class="fas fa-ruler fa-1.5x"></i>
      <p class="item-size-adjust"> {{posts.length > 0 ? adjustment : "no
        sizing info"}}</p>
    </div>

    <div class="d-flex justify-content-start ">
      <div *ngIf="item.isSaved === false"><i (click)="saveItem(item)" class="fas fa-tshirt"></i></div>
      <div *ngIf="item.isSaved === true"><i (click)="unsaveItem(item)" class="fas fa-tshirt saved-item"></i></div>
      <p class="item-numsaved">{{item.numSaved}} saves</p>
    </div>

    <div class="d-flex flex-row justify-content-center">
      <a (click)="linkToBuy()" class="flex-fill" href="{{item.url}}" target="_blank"><button class="item-link-button"
          style="width: 100%"><i class="fas fa-shopping-cart">
            Go to store</i></button></a>
    </div>


    <div class="d-flex flex-row justify-content-center">
      <button *ngIf="item.isSaved === false"  (click)="saveItem(item)" class="item-link-button flex-fill" style="width: 100%"><i class="far fa-plus-square"></i>
        Save Item</button>
      <button *ngIf="item.isSaved === true" (click)="unsaveItem(item)" class="item-link-button flex-fill" style="width: 100%">
        Item Saved</button>
    </div>
  </div>
</div>



<!--posts/vestimonials selection holder-->
<div class="d-flex flex-row justify-content-center align-items-center">
  <button style="width: 100%" class="button flex-fill" [ngClass]="{'button-active': postView}" (click)="showView('postView')">Posts</button>
  <button style="width: 100%" class="button flex-fill" [ngClass]="{'button-active': vestimonialView}" (click)="showView('vestimonialView')">Vestimonials</button>
</div>

<!--show posts-->
<div class="row" *ngIf="postView">
  <app-post-tile-list [posts]="posts"></app-post-tile-list>
</div>

<!--show vestimonials-->
<div *ngIf="vestimonialView">
  <div class="row" *ngFor="let vestimonial of vestimonials;">

    <app-vestimonial-tile [vestimonial]="vestimonial">
    </app-vestimonial-tile>
  </div>
</div>