<div in-view (inview)="inview($event)">

  <div *ngIf="post.isInView">

    <div>
      <a [routerLink]="['/posts', post.postId]">

        <div class="post-image-holder row">
          <img src="{{postImageUrl}}">
        </div>
      </a>




      <div class="d-flex justify-content-start profile-link-holder">
        <a [routerLink]="['/profiles', user.userId]">

          <img class="profile-icon" src="{{profileImageUrl}}" width="20%" />

        </a>

        <p class="flex-grow-1"> {{user.username}} </p>


        <p class="numLikes">{{post.numLikes}}</p>

        <div class="post-like">
          <div class="hearticon-holder" *ngIf="liked === false"> <i class="far fa-heart fa-2x" (click)="likePost(post.postId)"></i></div>
          <div class="hearticon-holder" *ngIf="liked === true"><i class="fas fa-heart fa-2x" (click)="unlikePost(post.postId)"></i></div>
        </div>
      </div>

      <div>


        <p class="d-flex justify-content-start" (click)="showFullSummary()">{{post.postInfo}}</p>
      </div>



    </div>


  </div>
</div>