<!--trending/following selection holder-->
<div class="d-flex flex-row justify-content-center align-items-center selection-holder">
  <button class="button flex-fill" [ngClass]="{'button-active': liked}" (click)="showView('liked')">Liked Posts</button>
  <button class="button flex-fill" [ngClass]="{'button-active': saved}" (click)="showView('saved')">Saved Items</button>
</div>

<!--show saved items-->
<div class="row" *ngIf="saved">
  <app-item-tile-list [items]="items"></app-item-tile-list>
</div>

<!--show liked posts-->
<div class="row" *ngIf="liked">
  <app-post-tile-list [posts]="posts"></app-post-tile-list>
</div>