<!--page holder-->
<div class="container">

  <!--trending/following selection holder-->
  <div class="row">
    <div class="col-sm" align="center">
      <button class="btn btn-primary" (click)="showView('saved')">Saved Items</button>
      <button class="btn btn-primary" (click)="showView('liked')">Liked Posts</button>
    </div>
  </div>

  <!--following - show saved items-->
  <div class="row" *ngIf="saved">
    <div class="col-sm" align="center">
      <p> some saved content</p>
      <app-item-tile-list [items]="items"></app-item-tile-list>

    </div>
  </div>

  <!--trending - show liked posts-->
  <div class="row" *ngIf="liked">
    <div class="col-sm" align="center">
      <p> some liked content</p>
      <app-post-tile-list [posts]="posts"></app-post-tile-list>
    </div>
  </div>

  <!--end of page holder-->
</div>