/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a:link {
    text-decoration: none;
    color:inherit;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.button{
    margin-bottom:5%;
    background-color: #ffb3b3;
    background-color: white;
    border: solid lightgray 1px;
    color: lightgrey;
}

.button-active{
    background-color: #ffb3b3;
    color: white;
    border: solid lightgray 1px;
}

button:focus{
    background-color: #ffb3b3;
    color: white;
    border: solid lightgray 1px;
    outline: none;
}

.selection-holder{
    border-bottom: solid lightgray 1px;
}
