<div in-view (inview)="inview($event)">
  <div *ngIf="item.isInView">
    <a [routerLink]="['/items', item.itemId]">
      <div class="item-tile-image-holder d-flex align-items-center flex-column">
        <img class="item-tile-image" src={{imageUrl}}>
      </div>
    </a>
    <div class="d-flex flex-row justify-content-start">
      <p class="item-tile-brand">{{item.brand}}</p>
    </div>
    <div class="d-flex flex-row justify-content-start">
      <p class="item-tile-name">{{ (item.name.length>20)? (item.name | slice:0:20)+'..':(item.name) }}</p>

    </div>
    <div class="d-flex flex-row justify-content-start">
      <p class="item-tile-price flex-grow-1">€{{item.price}}</p>
    </div>
  </div>
  <div class="d-flex justify-content-start item-save-holder">
    <div class="flex-grow-1">
      <div class="d-flex justify-content-start">
        <i *ngIf="item.rating!=0" class="far fa-star"></i>
        <p class="item-list-rating">{{item.rating!=0 ? (item.rating | number:'1.0-1') : "no rating"}}</p>
      </div>
    </div>
    <div class="flex-grow-1">
      <p class="item-list-numsaved">{{item.numSaved}} saves</p>
    </div>
    <div>
      <div *ngIf="item.isSaved === false" (click)="saveItem(item)"><i class="fas fa-tshirt"></i></div>
      <div *ngIf="item.isSaved === true" (click)="unsaveItem(item)"><i class="fas fa-tshirt saved-item"></i></div>
    </div>
  </div>

  <div *ngIf="addVestimonial" class="d-flex justify-content-center item-save-holder">
    <a [routerLink]="['/vestimonial/add/review/', postId, item.itemId]"><button class="button-active">Vestify!</button></a>
  </div>

</div>