<div class="card">
  <a [routerLink]="['/items', item.itemId]">
   
  <div class="card-body">
    <img src={{imageUrl}} height="200">
    <h5 class="card-title">{{item.name}}</h5>
    <p>{{item.brand}}</p>
    <p>€{{item.price}}</p>
    <p>{{item.itemId}}</p>
    {{saved}}
    <button *ngIf="saved === false" (click)="saveItem(item.itemId)">Save Item</button>
    <button *ngIf="saved === true" (click)="unsaveItem(item.itemId)">Unsave Item</button>


    <!--<button *ngIf="saved" (click)="unsaveItem(item.itemId)">Unsave</button>
    <button *ngIf="!saved" (click)="saveItem(item.itemId)">Save</button>-->

  </div>
  </a>
</div>

