.item-tile-image{
    width:80%;
}
.item-tile-image-holder{
    border: solid lightgrey 1px;
    align-content: center;
    margin-top: 8%;
}

item-link{
    align-content: center;
}

.item-tile-brand{
    color: black;
    font-weight: bold;
    margin-bottom: 2%;
}

.item-tile-name{
    font-size: small;
    color: black;
    margin-bottom: 0%;
    min-height: 40px;
}
.item-tile-price{
    font-size: small;
    color: black;
    font-weight: 500;
    margin-bottom: 4%;
}



