<!--page holder-->


<!--trending/following selection holder-->
<div class="d-flex flex-row justify-content-center align-items-center">
    <button class="button flex-fill" [ngClass]="{'button-active': trending}" (click)="showHomeView('trending')">Trending</button>
    <button class="button flex-fill" [ngClass]="{'button-active': following}" (click)="showHomeView('following')">Following</button>
</div>

<!--following - show posts-->
<div class="row" *ngIf="following">
  <app-post-tile-list [posts]="posts"></app-post-tile-list>
</div>

<!--trending - show items-->
<div class="row" *ngIf="trending">
  <app-post-tile-list [posts]="posts"></app-post-tile-list>
</div>


<!--end of page holder-->